header {
    background-color: #85005e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 24px;

    img{
        height: 60px;
    }

    div{
        display: flex;
        justify-content: center;
        align-items: end;
    }
}

main {
    flex-grow: 1;
    background-color: #51043a;
}

footer {
    background-color: #85005e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        height: 128px;
        margin: -20px 0;
    }

    span {
        color: white;
    }
}