@media (max-width: 450px) {
    header {
        input {
            width: 128px;
            font-size: 11px;
        }

        img {
            height: 40px;
        }

        div {
            align-items: end;
        }

        h1 {
            font-size: 24px;
        }
    }

    #nextPokemonBtn {
        left: 268px;
    }

    #prevPokemonBtn {
        right: 268px;
    }
}

@media (max-width: 400px) {
    .overlayContent {
        width: 350px;
        height: 836px;
    }

    #nextPokemonBtn {
        left: 214px;
        top: 754px;
        font-size: 12px;
    }

    #prevPokemonBtn {
        top: 754px;
        right: 214px;
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    .navBar {
        font-size: 15px;
    }
}