*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f5f5f5;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white !important;
}

a{
    text-decoration: none;
}